<!doctype html>
<html>
    <head>
        <title>View Data</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        {{>nav}}
        <main class="container">
            {{{body}}}
        </main>
        <!-- footer -->
    </body>
</html>