<div class="row">
	<main class="col-md-12">
		


		<!-- Start your code here -->
		<div class="jumbotron my-5">
			<h1>About</h1>
			<p>Assignment made by Naunihal Singh</p>
		</div>
		<!-- End your code here  -->



	</main>
</div>